@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="aligncenter margin-top">
    <img src=".\Images\Youtube-dl.png" alt="Youtube-dl logo" width="900" />
</div>

<div>

    <label>Video URL</label>
    <br />
    <form method="post" asp-action="Download">
        <p class="aligncenter">
            <input type="text" class="input-form" name="url" placeholder="https://youtube.com/watch?v=..." />
        </p>
        <div class="vertical-center">
            <label class="margin-narrow-right">Audio Only</label>
            <input type="checkbox" class="margin-wide-right" name="audioOnly" id="audioOnly">
            <button class="btn btn-lg btn-primary ">Download</button>
        </div>
    </form>
</div>

<style>
    .aligncenter {
        text-align: center;
    }

    .input-form {
        font: 400 15px/28px Avenir Next LT Pro,sans-serif;
        display: block;
        max-width: 1200px;
        width: 1110px;
        height: 40px;
        border: 1px solid #e9ebf4;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 4px;
        background-color: #fff;
        color: #051441;
        box-shadow: 0 30px 30px 0 rgba(0,11,40,.1);
    }

    .btn-danger, .btn-danger:focus, .btn-danger:hover, .btn-facebook, .btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-success, .btn-success:focus, .btn-success:hover {
        background: #fb5607;
        color: #fff;
        width: 200px;
        padding: 11px 32px;
        cursor: pointer;
        font: 400 15px/28px Avenir Next LT Pro,sans-serif;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid transparent;
        line-height: 1.5;
        border-radius: .25rem;
        box-shadow: 0 30px 30px 0 rgba(0,11,40,.1);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font: 700 15px/28px Avenir Next LT Pro,sans-serif;
    }

    .margin-narrow-right {
        margin-right: 5px;
        margin-top: 5px;
    }

    .margin-wide-right {
        margin-right: 20px;
    }

    .vertical-center {
        display: flex;
        align-items: center;
        /*vertical-align: center;*/
        float: right;
    }

    .margin-top {
        margin-top: 80px;
        margin-bottom: 50px;
    }
</style>